.project {
	margin: 20px;
	display: flex;
  align-items: center;
}

.project img {
	width: 200px;
	height: 200px;	
}

@media only screen and (max-width: 700px) {
  .project img {
    width: 100px;
    height: 100px;
  }
}

.project a {
	text-decoration: none;
}

.project a p {
	color: white;
}

