/* ------------------- */
/* Custom properties   */
/* ------------------- */

:root {
    /* colors */
    --clr-dark: #1D3618;
    --clr-light: #83F56C;
    --clr-white: #F2CDB6;
    
    /* font-sizes */
    --fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
    --fs-800: 3.5rem;
    --fs-700: 1.5rem;
    --fs-600: 1rem;
    --fs-500: 1rem;
    --fs-400: 0.9375rem;
    --fs-300: 1rem;
    --fs-200: 0.875rem;
    
    /* font-families */
    --ff-serif: "Bellefair", serif;
    --ff-sans-cond: "Barlow Condensed", sans-serif;
    --ff-sans-normal: "Barlow", sans-serif;
}

/* --------------------*/
/* Initial Setup       */
/* --------------------*/

/* Set core body defaults */
body {
  font-family: var(--f--sans-normal);
  font-size: var(--fs-500);
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

hr {
	border-top: 5px dotted;
}

/* --------------------*/
/* Utility Classes     */
/* --------------------*/

/* general */

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.grid {
    display: grid;
    gap: var(--gap, 2rem);
}

.container {
    padding-inline: 2em;
    margin-inline: auto;
    max-width: 60rem;
}

.sr-only {
  position: absolute; 
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px; 
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

/* colors */

.bg-black { background-color: black;}
.bg-dark { background-color: var(--clr-dark);}
.bg-accent { background-color: var(--clr-light);}
.bg-white { background-color: var(--clr-white);}

.text-dark { color: var(--clr-dark);}
.text-accent { color: var(--clr-light) ;}
.text-white { color: var(--clr-white) ;}

/* typography */

.ff-serif { font-family: var(--ff-serif); } 
.ff-sans-cond { font-family: var(--ff-sans-cond); } 
.ff-sans-normal { font-family: var(--ff-sans-normal); } 

.letter-spacing-1 { letter-spacing: 4.75px; } 
.letter-spacing-2 { letter-spacing: 2.7px; } 
.letter-spacing-3 { letter-spacing: 2.35px; } 

.uppercase { text-transform: uppercase; }
.center { text-align: center;}

.fs-900 { font-size: var(--fs-900); }
.fs-800 { font-size: var(--fs-800); }
.fs-700 { font-size: var(--fs-700); }
.fs-600 { font-size: var(--fs-600); }
.fs-500 { font-size: var(--fs-500); }
.fs-400 { font-size: var(--fs-400); }
.fs-300 { font-size: var(--fs-300); }
.fs-200 { font-size: var(--fs-200); }

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
    line-height: 1.1;
}

.post-date {
	font-size: var(--fs-700);
}

.all-posts {
	margin: 2rem 0;	
}

.single-post {
	padding: 20px;
	margin: 20px;
}
